button {
    color: rgb(8, 126, 133);
    text-align: center;
    display: flex;
    /*margin-left:40%;
    margin-top: 10%; */
    margin: 10% auto;
    font-size: larger;
  
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    border: 1px rgb(171, 170, 170) solid;
    box-shadow: 5px 10px rgb(97, 97, 97);
    padding: 15px;
}
h2:hover {
    background-color: antiquewhite;
}

.drone_image {
display: block;
margin-left: auto;
margin-right: auto;
width: 30rem;
height: 30rem;
border-radius: 50%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

li {
    font-size: large;
    list-style-type: none;
    padding-left: 100px;
}

span {
    font-weight: bold;
}
 
table {
    text-align: left;
    margin: auto;
    border: solid black 1px;
}

th {
    padding: 8px;
    font-size: 1.5rem;
    border: black solid 1px;
}

td {
font-size: 1.5rem;
border: solid black 1px;
}

.box {
padding: 15px;
}

header {
    background-color: bisque;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nohover:hover {
    background-color: rgba(255, 255, 255, 0);
}

.table_header{
    font-size: 2.2rem;
    text-align: center;
    border: solid black 2px
}