* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

body header {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    z-index: 0;
}


header img {
    max-width: 8%;
}

.title {
    display: inline-flex;
    padding-left: 3%;
    align-items: center;
}

h1 {
    font-size: 1.3vw
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-basis: 20%;
    padding-right: 3%;
}

header li {
    font-size: 1.3vw;
    text-decoration: underline;
}

.hero img {
    display: flex;
    height: 35vh;
    width: 100%;
}

.profile-block {
    display: flex;
    margin: 2% 5% 3% 5%;
    text-align: center;
    height: 25vw;
}

.profile-pic,
.flight-data,
.flight-log {
    border: 1px solid black;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
}

.profile-block div {}

.profile-pic img {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}

.profile-pic {
    background-color: #502424;
    color: whitesmoke;
}

.profile-pic h2 {
    font-size: 2vw;
}

.underline {
    border-bottom: 4px solid white;
    margin-right: 10%;
    margin-left: 10%;
}

.profile-pic h3 {
    font-size: 1.2vw;
    padding-top: 2%;
    line-height: 180%;
}

.flight-data h2 {
    font-size: 1.7vw;
    padding-top: 5%;
    font-weight: 300;
}

.height-span {
    line-height: 200%;
}

.h2-sep {
    padding-bottom: 10%;
}

.pilot-meter {}

.pilot-meter span {
    height: 4vw;
    width: 4vw;
    background-color: #a3a3a37d;
    border-radius: 50%;
    display: inline-flex;
}

span.dot1 {
    background-color: rgb(77, 193, 255);
}

.flight-log {
    background-color: #502424;
    color: whitesmoke;
}

.flight-log h2 {
    font-size: 2vw;
    padding-top: 2vw;
}

.flight-log p {
    font-size: 1.1vw;
    background-color: white;
    color: black;
    padding: .5vw 0 .5vw 1vw;
    margin: 3% 20% 0 25%;
    border-radius: 2%;
    text-align: left;
}

.flight-log .followers {
    line-height: 3vw;
    padding-top: 0;
    padding-bottom: 0;
}

.featured-media h2,
.other-media h2 {
    text-align: center;
    font-size: 3.5vw;
}

.featured-media img,
.featured-media video {
    height: 35vw;
    width: 80%;
    margin: 5vw 10% 5vw 10%;
    object-fit: fill;
}

.media-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin: 5% 10% 5% 10%;
}

.media-grid img,
.media-grid video {
    width: 45%;
    height: 25vw;
    margin: 0% 1% 2% 1%;
    object-fit: fill;
}

.media-grid video {}